@font-face {
    font-family: "Vazir-FD";
    src: url("../font/Vazir-FD.eot");
    /* IE9 Compat Modes */
    src: url("../font/Vazir-FD.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../font/Vazir-FD.otf") format("opentype"), /* Open Type Font */
        url("../font/Vazir-FD.svg") format("svg"), /* Legacy iOS */
        url("../font/Vazir-FD.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../font/Vazir-FD.woff") format("woff"), /* Modern Browsers */
        url("../font/Vazir-FD.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Vazir-FD";
    direction: rtl;
    background-color: white;
    color: #333333;
    height: 100vh;
}

#root {
    height: 70%;
    width: 100%;
    display: flex;
}

.c1 {
    text-align: center;
    align-self: center;
    width: 100%;
}

#logo {
    position: relative;
    width: 200px;
    margin: 0 20px;
}

.logo {
    color: #444444;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logo span {
    align-self: center;
}

.logo img {
    align-self: center;
}

input {
    -moz-box-sizing: content-box;
    font-family: "Vazir-FD";
}

input.text {
    font-size: 12px;
    padding: 0.75rem 1.2rem;
    background: #eee;
    border: 0;
    border-radius: 200px;
    direction: ltr;
    height: auto;
    width: 40%;
    color: #000;
    margin: 0;
    vertical-align: top;
}

input.text:focus {
    outline: medium none;
}

input#search,
input#lucky {
    background: #EEE;
    border: 0;
    box-shadow: unset;
    padding: 0.75rem;
    font-size: 12px;
    height: auto;
    border-radius: 8px;
    -webkit-appearance: unset;
    color: black;
    cursor: pointer;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}

.button_wrapper {
    display: inline-block;
    margin: 10px 0 0 5px;
}

#fake_mouse {
    left: 100px;
    position: absolute;
    top: 100px;
}

#instructions {
    color: #999999;
    font-size: 12px;
    margin-top: 40px;
}

#instructions div {
    line-height: 1.5;
}

#link_placeholder {
    height: 90px;
}

#link {
    display: block;
    padding: 40px 0 20px 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

input.link {
    font-size: 12px;
    padding: 0.75rem 1.2rem;
    background: #eee;
    border: 0;
    border-radius: 8px;
    direction: ltr;
    height: auto;
    color: #000;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    width: 312px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#footer {
    border-top: 1px solid #DDDDDD;
    color: #999999;
    margin-top: 40px;
    padding-top: 0.5em;
    text-align: center;
}

#footer a {
    color: #999999;
    padding: 0 1em;
    text-decoration: none;
    font-size: 12px;
}

#footer a:hover {
    text-decoration: underline;
}

#about {
    color: #666666;
    margin-top: 0.5em;
    text-align: center;
    font-size: 12px;
}

p {
    margin: 0;
    line-height: 1.5;
}

#language {
    background: url("/images/worldwide.png") no-repeat scroll center center white;
    color: #666666;
    margin-top: 1em;
    text-align: center;
}

#language select {
    opacity: 0;
    width: 200px;
}

#copyright {
    background-color: white;
    color: #BBBBBB;
    font-size: 0.75em;
    padding: 15px 0;
    text-align: center;
}

#copyright div {
    direction: ltr !important;
    font-family: Calibri;
}

#link_buttons,
#link_message {
    display: block;
    position: absolute;
}

a.link_button {
    background: url("images/link_button.png") no-repeat scroll center center transparent;
    color: white;
    display: block;
    float: left;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

a.link_button:hover {
    background-image: url("images/link_button_hover.png");
}

#link_message {
    background: url("images/link_message.png") repeat scroll 0 0 transparent;
    color: white;
    font-size: 1em;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 332px;
    z-index: 99;
}

#sponsor {
    display: none;
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
}

#sponsor img {
    border: medium none;
}

#sponsor .bsap {
    text-align: center;
    width: 100%;
}

#sponsor .bsap a {
    display: inline-block;
    height: 125px;
    margin: 10px;
    width: 125px;
}

#sponsor .bsap a img {
    vertical-align: middle;
}

#sponsor .bsap a.adhere {
    background-color: #CCCCCC;
    color: #888888;
    line-height: 125px;
}

#sponsor .bsap a.adhere:hover {
    background-color: #AAAAAA;
    color: #666666;
}

.c2 {
    direction: rtl;
    font-weight: 900;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: "Vazir-FD";
}


button {
    background: #EEE;
    border: 0;
    box-shadow: unset;
    padding: 0.75rem;
    font-size: 12px;
    height: auto;
    border-radius: 8px;
    -webkit-appearance: unset;
    color: black;
    cursor: pointer;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: "Vazir-FD";
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-family: "Vazir-FD";
}

@media only screen and (max-width: 650px) {
    #root {
        height: 55%;
    }
    input.text {
        width: 70%;
    }

    input.link {
        display: block;
        margin: 0 auto 10px auto;
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    #root {
        height: 55%;
    }
    input.text {
        width: 95%;
    }

    input.link {
        display: block;
        margin: 0 auto 10px auto;
        width: 95%;
    }
    #copyright {
        margin-top: 5px;
    }

    .logo {
        margin-bottom: 20px;
    }

    #instructions {
        margin-top: 20px;
    }

    #about {
        font-size: 11px;
    }
}